<div class="medium-8 medium-centered large-8 large-centered columns">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label "E-postadress", class: 'body-text' %>
	    <%= f.email_field :email %>
	  </div>

	  <div class="field">
	    <%= f.label "Användarnamn", class: 'body-text' %>
	    <%= f.text_field :name %>
	  </div>

	  <div class="field">
	    <%= f.label 'Lösenord', class: 'body-text' %>
	    <% if @minimum_password_length %>
	    <em class="body-text">Minst (<%= @minimum_password_length %>) tecken</em>
	    <% end %><br />
	    <%= f.password_field :password, autocomplete: "off" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Registrera", class: 'button success radius expand' %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>