<div class="large-6 large-centered columns user-profile radius">
	<div id="user-container">
		<div class="mediun-6 large-6 columns center-children">
			<div class="user-avatar">
				<% if @user.avatar.length > 0 %>
					<%= image_tag @user.avatar, width: 280, height: 175 %>
				<% else %>
					<%= image_tag 'avatar.png', width: 280, height: 175 %>
					<% if @user == current_user %>
						<%= link_to 'Lägg till profilbild', edit_user_path(@user), class: 'button success rounded-bottom expand' %><br>
					<% else %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="mediun-6 large-6 columns center-children">
			<div class="user-info">
			    <h3><%= @user.name %></h3>
			    <%= link_to "#{count_display(@user.medals.length, 'Inga')} medaljer", user_path(@user), data: {:"reveal-id" => "reveal-medals"} %><br/>  
				<%= link_to "#{@user.followers.length} följare", user_path(@user), data: {:"reveal-id" => "reveal-followers"} %><br/>
				<%= link_to "Följer #{@user.follows.length}", user_path(@user), data: {:"reveal-id" => "reveal-follows"} %>
				<div class="completion-bar-profile">
					<div class="fill" style="width:<%=((@week_posts_count.to_f / @week_achievements_count.to_f) * 100).round(1) %>%;">
						<p class="user_profile"><%= @week_posts_count.to_s + "/" + @week_achievements_count.to_s %></p> 
					</div>
        		</div>
	        	<div class="completion-bar-profile">
					<div class="fill" style="width:<%=((@total_posts_count.to_f / @total_achievements_count.to_f) * 100).round(1) %>%;">
						<p class="user_profile"><%= @total_posts_count.to_s + "/" + @total_achievements_count.to_s %></p> 
					</div>
	        	</div>
			</div>
		</div>
	</div>
</div>
<!-- Popups -->

<div id="reveal-medals" class="reveal-modal small medal-modal large-10 medium-10 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
	<div class="large-12 columns">
		<% if @user.medals.length > 0 %>
			<% @user.medals.each do |medal| %>
				<%= medal.image %>
			<% end %>
		<% else %>
			<h2 class="popup-text">Den här användaren har inga medaljer ännu.</h2>
		<% end %>
	</div>
</div>

<div id="reveal-followers" class="reveal-modal small followers-modal large-10 medium-10 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
	<div class="large-12 columns">
		<% if @user.followers.length > 0 %>
			<% @user.followers.each do |user| %>
				<%= link_to user_path(user) do %>
					<% if user.avatar.url %>
				    	<%= image_tag(user.avatar, size: "30") %>
				   	<% else %>
						<%= image_tag('avatar.png', size: "30") %>
					<% end %>
					<%= user.name %><br/>
				<% end %>
			<% end %>
		<% else %>
			<h2 class="popup-text">Den här användaren har inga följare ännu.</h2>
		<% end %>
	</div>
</div>

<div id="reveal-follows" class="reveal-modal small follows-modal large-10 medium-10 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
	<div class="large-12 columns">
		<% if @user.follows.length > 0 %>
			<% @user.follows.each do |user| %>
				<%= link_to user_path(user) do %>
					<% if user.followable.avatar.url %>
				    	<%= image_tag(user.followable.avatar, size: "30") %>
				   	<% else %>
						<%= image_tag('avatar.png', size: "30") %>
					<% end %>
					<%= user.followable.name %><br/>
				<% end %>
			<% end %>
		<% else %>
			<h2 class="popup-text">Den här användaren följer ingen ännu.</h2>
		<% end %>
	</div>
</div>

<div class="medium-12 medium-centered large-12 large-centered columns user-achievements">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix media-container">	
	<div class="done-achievements">
<div class="medium-12 medium-centered large-12 large-centered columns">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix media-container">	<div class="done-achievements">
			<%= render @posts %>
		</div>
	</div>
</div>
<script type="text/javascript">
	user = <%= @user.id %>;
</script>