<h2><%= @user.name %></h2>
<img src="<%= @user.avatar %>" height="150px" width="150px"><br><br>
Amount of medals: <%= @user.medals.length %><br>

<strong>Bucket list:</strong><br>

<div id="bucket-list">
    <%= render 'bucket_list' %>
</div>

<%= link_to 'Add profile-picture', edit_user_path(@user), class: 'button success radius expand' %><br>



<br><br>