<div class="medium-8 medium-centered large-8 large-centered columns">
	<div id="user-container" class="media-container">
		<div class="user-avatar">
			<% if @user.avatar.length > 0 %>
				<%= image_tag @user.avatar, width: 280, height: 175 %>
				<% if @user == current_user %>
					<%= link_to 'Ändra profilbild', edit_user_path(@user), class: 'button success radius expand' %><br>
				<% else %>
					<%= link_to 'Följ användare', root_path, class: 'button success radius expand'%>
				<% end %>
			<% else %>
				<%= image_tag 'avatar.png', width: 280, height: 175 %>
				<% if @user == current_user %>
					<%= link_to 'Lägg till profilbild', edit_user_path(@user), class: 'button success radius expand' %><br>
				<% else %>
					<%= link_to 'Följ användare', root_path, class: 'button success radius expand'%>
				<% end %>
			<% end %>
		</div>
		<div class="user-info">
			<% if @user.medals %>
				<% @user.medals.each do |medal| %>
					<%= image_tag 'medal.png', width:50, height: 50 %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<div class="medium-12 medium-centered large-12 large-centered columns marginfix">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix media-container">
	  <% @user.posts.each do |post| %>
	  <div class="box col3">
	  	<div class="post_user">
			<%= link_to image_tag(post.user.avatar, width: "30px", height: "30px"), user_path(post.user)%>
			<h3><%= link_to post.user.name, user_path(post.user) %></h3>
		</div>
		<div class="post_image" height="<%= post.height %>px!important">
			<%= image_tag(post.image, width: post.width, height: post.height) %><br>
		</div>
		<div class="post_info">
			Achievement: <%= link_to post.achievement.description, achievement_path(post.achievement) %><br>
	     	Meddelande: <%= post.message %><br><br>
			Likes:
		<div class="counter_info">
			<%= post.likes_count %>
		</div>	
		<div id="like-button-<%= post.id %>">
			<% if user_signed_in? %>
				<% if post.check_like(current_user) %>
					<%= link_to 'Sluta gilla', like_post_path(post), method: :PUT, remote: true, class: 'like' %>
				<% else %>
					<%= link_to "Gilla", like_post_path(post), method: :PUT, remote: true, class: 'like' %>
				<% end %>
			<% else %>
				<%= link_to "Gilla", new_user_registration_path %>
			<% end %>	
		</div>
	 </div>
 	</div>
	 <% end %>
	</div>
</div>
		