<div id="highscore-container" class="highscore-content medium-12 medium-centered large-12 large-centered columns media-container">
    <% @user_stats.each_with_index do |user, index| %>
        <div class="highscores">
			<div class="highscore_position">
			<h3>Score: <%= user[2] %></h3>
		    <h2><%= (index + 1) %><h2>
			</div>
			<div class="highscore_user">
				<% if user[0].avatar.length > 0 %>
					<%= image_tag user[0].avatar %>
				<% else %>
					<%= image_tag 'avatar.png' %>
				<% end %>
    			<h3><%= link_to user[0].name, user_path(user[0]) %></h3>
            </div>
            <div class="highscore_stats">
				Intjänade Achievements: <%= user[1] %><br>
				Total poäng: <%= user[2]%><br>
				Högst avlönade Achievement: <%= user[3] %><br>
				Antal högst avlönade: <%= user[4] %><br>
				Likes: <%= user[5]%><br>
            </div>
		</div>
	<% end %>
</div>
