<div class="large-12 columns no-padding">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix media-container">
		<%= render @posts %>
	</div>
</div>
<div class="large-12 columns large-centered join-footer">
	<div class="large-7 columns how-to body-text">
		<div class="row">
			<div class="large-12 columns large-centered step-box">
				<div class="large-2 columns step-images">
					<%= image_tag 'step1.png', size: '50' %>
				</div>
				<div class="large-10 columns step-text">
					<h2 class="white-text">
						Registrera ett konto
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns large-centered step-box">
				<div class="large-2 columns step-images">
					<%= image_tag 'step2.png', size: '50' %>
				</div>
				<div class="large-10 columns step-text">
					<h2 class="white-text">
						Fånga ögonblick i din vardag
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns large-centered step-box">
				<div class="large-2 columns step-images">
					<%= image_tag 'step3.png', size: '50' %>
				</div>
				<div class="large-10 columns step-text">
					<h2 class="white-text last-step">
						Dela dina ögonblick, upplev andras, samla poäng och mycket mer!
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="large-5 columns sign-up">
		<%= render "devise/registrations/new" %>
	</div>
</div>

	
