<div class="medium-8 medium-centered large-8 large-centered columns">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
		<%= f.label :Bild, class: 'body-text' %>
		<%= f.file_field :image, class: 'body-text' %>
	</div>
	<div class="field">
		<%= f.label :Video, class: 'body-text' %>
		<%= f.file_field :video, class: 'body-text' %>
	</div>
	<%= f.hidden_field :achievement_id, value: @achievement_id%>
  	<div class="actions">
    	<%= f.submit "Skapa inlägg", class: 'button expand' %>
  	</div>
<% end %>
</div>