<div class="box col3 masonry-brick" data-id="<%= post.id %>">
	<div class="post_user">
		<%= link_to image_tag(post.user.avatar, width: "30px", height: "30px"), user_path(post.user)%>
		<h3><%= link_to post.user.name, user_path(post.user) %></h3>
		<% if user_signed_in? %>
			<% if post.user == current_user || current_user.admin %>
				<h2><%= link_to 'X', post, method: 'DELETE', data: { confirm: 'Vill du ta bort detta inlägg?'}%></h2>
			<% end %>
		<% end %>
	</div>
	<div class="post_image" height="<%= post.height %>px!important">
		<%= image_tag(post.image, width: post.width, height: post.height) %><br>
	</div>
	<div class="post_info">
		Achievement: <%= link_to post.achievement.description, achievement_path(post.achievement) %><br>
 		Meddelande: <%= post.message %><br>
		Kommentarer: <%= post.comments.count %><br>
		Likes:
		<div id="counter_info-<%=post.id%>" class="counter-fix">
			<% if post.likes_count != nil %> 
				<%= post.likes_count %>
			<% else %>
				0
			<% end %>
		</div>	
		<div id="like-button-<%= post.id %>">
			<% if user_signed_in? %>
				<% if post.check_like(current_user) %>
					<%= link_to 'Sluta gilla', like_post_path(post), method: :PUT, remote: true, class: 'like button success button-size' %>
				<% else %>
					<%= link_to "Gilla", like_post_path(post), method: :PUT, remote: true, class: 'like button success button-size' %>
				<% end %>
				<%= link_to 'Kommentera', post, remote: true, class: 'button success button-size', data: {:"reveal-id" => "reveal-#{post.id}"} %>
			<% else %>
				<%= link_to "Gilla", new_user_registration_path, class: 'button success button-size' %>
				<%= link_to "Kommentera", new_user_registration_path, class: 'button success button-size' %>
			<% end %>	
		</div>
	</div>
<div id="reveal-<%=post.id%>" class="reveal-modal post-modal large-10 medium-10 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div class="large-6 columns media-hide">
		<div id="post">
		  	<div class="post_user">
				<%= link_to image_tag(post.user.avatar, width: "30px", height: "30px"), user_path(post.user)%>
				<h3><%= link_to post.user.name, user_path(post.user) %></h3>
			</div>
			<div class="post_image_popup">
				<%= image_tag(post.image, width: post.width, height: post.height) %><br>
			</div>
			<div class="post_info">
				Achievement: <%= link_to post.achievement.description, achievement_path(post.achievement) %><br>
		     	Meddelande: <%= post.message %><br>
				Kommentarer: <%= post.comments.count %><br>
				Likes:
				<div id="counter_info_popup-<%= post.id%>" class="counter-fix-popup">
					<%= post.likes_count %>
				</div>	
				<div id="like-button-popup-<%= post.id %>">
					<% if user_signed_in? %>
						<% if post.check_like(current_user) %>
							<%= link_to 'Sluta gilla', like_post_path(post), method: :PUT, remote: true, class: 'like button success button-size' %>
						<% else %>
							<%= link_to "Gilla", like_post_path(post), method: :PUT, remote: true, class: 'like button success button-size' %>
						<% end %>
					<% else %>
						<%= link_to "Gilla", new_user_registration_path, class: 'button success button-size' %>
					<% end %>	
				</div>
			</div>
		</div>
	</div>
	<div class="large-4 columns">
		<a class="close-reveal-modal device button secondary supertiny" aria-label="Close">Stäng</a>
		<div id="comment_list-<%= post.id %>" class="comments">
			<% @comments = post.comments %>
			<% @model = post.id %>
			<%= render 'comments/list', object: @comments %>
		</div>
		<div class="comment-input">
			<%= render 'comments/form', object: @model%>
		</div class="comment-input">
	</div>
</div>
</div>
