<div class="medium-12 medium-centered large-12 large-centered columns">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix media-container">
	  <% @posts.each do |post| %>
	  <div class="box col3">
	  	<div class="post_user">
			<%= link_to image_tag(post.user.avatar, width: "30px", height: "30px"), user_path(post.user)%>
			<h3><%= link_to post.user.name, user_path(post.user) %></h3>
		</div>
		<div class="post_image" height="<%= post.height %>px!important">
			<%= image_tag(post.image, width: post.width, height: post.height) %><br>
		</div>
		<div class="post_info">
			Achievement: <%= link_to post.achievement.description, achievement_path(post.achievement) %><br>
	     	Meddelande: <%= post.message %><br><br>
			Likes:
		<div class="counter_info">
			<%= post.likes_count %>
		</div>	
		<div id="like-button-<%= post.id %>">
			<% if post.check_like(current_user) %>
				<%= link_to 'Sluta gilla', like_post_path(post), method: :PUT, remote: true, class: 'like' %>
			<% else %>
				<%= link_to "Gilla", like_post_path(post), method: :PUT, remote: true, class: 'like' %>
			<% end %>
		</div>
		</div>
	 </div>
	 <% end %>
	</div>
</div>



