<div id="masonry-container" class="transitions-enabled centered infinite-scroll clearfix">
  <% @posts.each do |post| %>
  <div class="box col3">
	 <%= post.image %><br>
     <%= post.message %><br>
	 <%= post.user.name %><br>
	 <%= post.achievement.description %><br>
	 <%= link_to 'Show', post_path(post)%><br>
   </tr>
  </div>
  <% end %>


