<div class="achievements" data-id="<%= achievement.id %>" id="achievement-id">
    <%= link_to achievement.description, achievement, class: 'hide'  %>
	<div class="achievement_categories">
		<%= link_to '<i class="fi-marker"></i>'.html_safe, '#', class: 'achievement-marker' %>
		<div class="score">
			<h3><%= achievement.score %>p</h3>
		</div>
		<div class="locks">
			<% if current_user.has_achievement(achievement) %>
				<i class="fi-unlock locks-icon"></i>
			<% else %>
				<i class="fi-lock locks-icon"></i>
			<% end %>
		</div>
	</div>
	<div class="achievement_description">
		<h3><%= link_to achievement.description, achievement %></h3>
    </div>
    <div class="achievement_posts">
    <% if achievement.posts[0] %> 
		<% if achievement.posts[0].height == nil %>
			<%= link_to (video_tag achievement.posts[0].video, size:"85x65"), achievement.posts[0] %>
		<% else %>
			<%= link_to (image_tag achievement.posts[0].image, size:"85x65"), achievement.posts[0] %>
		<% end %>
	<% else %>
		<%= image_tag 'post.png', size: "85" %>
	<% end %>
	<% if achievement.posts[1] %>
		<% if achievement.posts[1].height == nil %>
			<%= link_to (video_tag achievement.posts[1].video, size:"85x65"), achievement.posts[1] %>
		<% else %>
			<%= link_to (image_tag achievement.posts[1].image, size:"85x65"), achievement.posts[1] %>
		<% end %>
	<% else %>
		<%= image_tag 'post.png', size: "85" %>
	<% end %>
	<% if achievement.posts[2] %>
		<% if achievement.posts[2].height == nil %>
			<%= link_to (video_tag achievement.posts[2].video, size:"85x65"), achievement.posts[2] %>
		<% else %>
			<%= link_to (image_tag achievement.posts[2].image, size:"85x65"), achievement.posts[2] %>
		<% end %>
	<% else %>
		<%= image_tag 'post.png', size: "85" %>
	<% end %>
    </div>
    <div class="achievement_info">
    	<div class="achievements-counters">
    		<div class="users-completed">
    			<%= link_to achievement.posts.length.to_s + ' har klarat detta', '#' %>
    		</div>
    		<div class="users-comments">
    			<%= link_to '10 kommentarer', '#' %>
    		</div>
    	</div>
    	<ul class="achievement-ul">
	    	<li>
				<%= link_to '<i class="fi-torsos-all"></i>'.html_safe, achievement, remote: true, data: {:"reveal-id" => "reveal-users-#{achievement.id}"}, class: 'achievement-icons' %>
			</li>
			<li>
				<%= link_to '<i class="fi-share"></i>'.html_safe, achievement, remote: true, data: {:"reveal-id" => "reveal-follows-#{achievement.id}"}, class: 'achievement-icons' %>
			</li>
			<li>
			<div id="achievement_<%=achievement.id%>" class="add-achievement">
				<%= render partial: 'bucket_lists/bucket_list_actions', locals: {achievement: achievement} %>
		    </div>
		    </li>
		    <li>
		    	<%= link_to '<i class="fi-comment"></i>'.html_safe, '#', class: 'achievement-icons last-icon' %>
		    </li>
		</ul>
		<%= link_to 'Ladda upp bild/video', new_post_path(achievement_id: achievement.id), class: 'button expand success radius achievement-actions'%>
    </div>
	<div id="reveal-users-<%=achievement.id%>" class="reveal-modal post-modal medium-2 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<a class="close-reveal-modal device button secondary supertiny" aria-label="Close">Stäng</a>
		<% @user_ids = achievement.posts.pluck(:user_id) %>
		<%= render 'achievements/users', object: @user_ids %>
	</div>
	<div id="reveal-follows-<%=achievement.id%>" class="reveal-modal post-modal medium-2 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<a class="close-reveal-modal device button secondary supertiny" aria-label="Close">Stäng</a>
		<% @achievement = achievement %>
		<%= render 'users/follows', object: @achievement %>
	</div>
</div>
