<div class="achievements" data-id="<%= achievement.id %>" id="achievement-id">
    <%= link_to achievement.description, achievement, class: 'hide'  %>
	<div class="achievement_categories">
		<%= link_to '<i class="fi-marker"></i>'.html_safe, '#', class: 'achievement-marker' %>
		<div class="dropdown-button">
			<%= link_to image_tag('dropdown.png'), achievement_path(achievement), remote: true, data: {:"reveal-id" => "reveal-options-#{achievement.id}"} %>
		</div>
		<div class="score">
			<h3><%= achievement.score %></h3>
		</div>
		<div class="locks">
			<% if current_user.has_achievement(achievement) %>
				<i class="fi-unlock locks-icon"></i>
			<% else %>
				<i class="fi-lock locks-icon"></i>
			<% end %>
		</div>
	</div>
	<div class="achievement_description">
		<h3><%= link_to achievement.description, achievement %></h3>
    </div>
    <div class="achievement_posts">
      <% 3.times do |index| %>
        <% if achievement.posts[index] %> 
          <% if achievement.posts[index].has_video? %>
            <%= link_to (video_tag achievement.posts[index].video, size:"85x65"), achievement.posts[index] %>
          <% else %>
            <%= link_to (image_tag achievement.posts[index].image, size:"85x65"), achievement.posts[index] %>
          <% end %>
        <% else %>
          <%= image_tag 'post.png', size: "85" %>
        <% end %>
      <% end %>
    </div>
    <div class="achievement_info">
    	<div class="achievements-counters">
    		<div class="users-completed">
          <%= link_to t('.posts_count', count: achievement.posts.count), achievement, remote: true, data: {:"reveal-id" => "reveal-users-#{achievement.id}"} %>
    		</div>
    	</div>
    	<ul class="achievement-ul">
	    	<li>
				<%= link_to '<i class="fi-torsos-all"></i>'.html_safe, achievement, remote: true, data: {:"reveal-id" => "reveal-users-#{achievement.id}"}, class: 'achievement-icons' %>
			</li>
			<li>
				<%= link_to '<i class="fi-share"></i>'.html_safe, achievement, remote: true, data: {:"reveal-id" => "reveal-follows-#{achievement.id}"}, class: 'achievement-icons' %>
			</li>
			<li>
			<div id="achievement_<%=achievement.id%>" class="add-achievement">
				<%= render partial: 'bucket_lists/bucket_list_actions', locals: {achievement: achievement} %>
		    </div>
		    </li>
		</ul>
		<%= link_to 'Ladda upp bild/video', new_post_path(achievement_id: achievement.id), class: 'button expand success radius achievement-actions'%>
    </div>

	<div id="reveal-users-<%=achievement.id%>" class="reveal-modal small medium-2 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<a class="close-reveal-modal device button secondary supertiny" aria-label="Close">Stäng</a>
		<% @user_ids = achievement.posts.pluck(:user_id) %>
		<%= render 'achievements/users', object: @user_ids %>
	</div>
	<div id="reveal-follows-<%=achievement.id%>" class="reveal-modal small medium-2 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<a class="close-reveal-modal device button secondary supertiny" aria-label="Close">Stäng</a>
		<% @achievement = achievement %>
		<%= render 'users/follows', object: @achievement %>
	</div>
	<div id="reveal-options-<%=achievement.id%>" class="reveal-modal small medium-2 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<a class="close-reveal-modal close-fix" aria-label="Close">&#215;</a>
		<% if user_signed_in? %>
			<% if current_user.admin? %>
				<%= link_to 'Ta bort inlägg', achievement, method: :delete %><br>
				<%= link_to 'Editera inlägg', edit_achievement_path(achievement) %><br>
			<% else %>
				<%= link_to 'Rapportera inlägg', '#' %><br>
			<% end %>
		<% end %>
	</div>
</div>

