<div class="achievement-content">

    <p id="notice"><%= notice %></p>

    <h1>Listing Achievements</h1>

    <%= link_to 'New Achievement', new_achievement_path %>
    <br><br>

    <%= render 'search_achievement' %>
    <br><br>

    <% @achievements.each do |achievement| %>
        <div class="achievements">
            <%= link_to achievement, class: 'test' do %>
                <div class="achievement-desc">
                    <%= achievement.description %>
                </div>
                <div class="achievement-score">
                    <%= achievement.score %>
                </div>
                <div class="achievement-actions">
                    <%= link_to 'Add to Bucket list', add_achievement_bucket_list_path(achievement.id), id: 'add-achievement' %><br>
                    <%= link_to 'Edit', edit_achievement_path(achievement) %><br>
                    <%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %><br>
                </div>
            <% end %>
        </div>
    <% end %>

</div>