<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @achievement.description %>
</p>

<p>
  <strong>Score:</strong>
  <%= @achievement.score %>
</p>

<p>
  <strong>Categories: </strong><br>
  <% @achievement.categories.each do |category| %>
    <%= category.name %><br>
  <% end %>
</p>

<%= link_to "Add to bucket-list", add_achievement_bucket_list_path, method: 'PUT' %><br><br>
<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
