<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @achievement.description %>
</p>

<p>
  <strong>Score:</strong>
  <%= @achievement.score %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
