<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) : "Veckokampen" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<div class="fixed bottom-bordered" height="45px">
		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><%= link_to "Veckokampen", root_path %></h1>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
			<% if user_signed_in? %>
			    <ul class="right">
			    	<li<% if current_page? root_path %> class="active"<% end %>><%= link_to image_tag('home_icon_white.png', size: '40'), root_path %></li>
					  <li<% if current_page? explore_path %> class="active"<% end %>><%= link_to image_tag('explore_icon_white.png', size: '42'), explore_path %></li>
				  	<li<% if current_page? achievements_path %> class="active"<% end %>><%= link_to image_tag('achievement_icon_white.png', size: '39'), achievements_path %></li>
						<li <% if current_page? bucket_list_path %> class="active"<% end %>><%= link_to image_tag('bucket-list-icon.png', size: '37'), bucket_list_path %></li>
						<ul class="right">
				  		<%= render partial: 'layouts/user_menu' %>
				  	</ul>
						<ul class="right" data-options="is_hover: false">
				      <li id="notices-<%= current_user.id%>" class="notices has-dropdown notice-dropdown">
				      	<%= link_to (
					      	if @notices.any?
					      		image_tag('notice_icon_red.png', size: '37') + @notices.count.to_s
					      	else 
					      		image_tag('notice_icon_white.png', size: '37')
					      	end
				      		), '#', id: 'notishref' 
				      	%>

				        <ul class="dropdown dropdown-notices">
				          <%= render partial: 'users/notices', object: current_user.notices.limit(10) %>
				        </ul>
				      </li>
				  	</ul>
			    </ul>
			<% else%>
				<ul class="right">
   					<li><%= link_to "Logga in", new_user_session_path %></li>
    				<li><%= link_to "Bli medlem", new_user_registration_path %></li>
				</ul>
			<% end %>
		    <!-- Left Nav Section -->
		    <ul class="left">
				<%= render 'users/search_user'%>
		    </ul>
		  </section>
		</nav>
	</div><br>
    <%= yield %>
  </body>
</html>
