<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) : "Life Achievements" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<div class="fixed" height="45px">
		<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
		  <ul class="title-area">
		    <li class="name">
		      <h1><%= link_to "Life Achievements", root_path %></h1>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
			<% if user_signed_in? %>
			    <ul class="right">
			    	<li<% if current_page? root_path %> class="active"<% end %>><%= link_to "Hem", root_path %></li>
					<li<% if current_page? follow_posts_path %> class="active"<% end %>><%= link_to "Vänner", follow_posts_path %></li>
					<li<% if current_page? bucket_list_path(current_user) %> class="active"<% end %>><%= link_to "Bucket-list", bucket_list_path(current_user) %></li>
				  	<li<% if current_page? highscore_path %> class="active"<% end %>><%= link_to "Topplista", highscore_path %></li>
				  	<li<% if current_page? achievements_path %> class="active"<% end %>><%= link_to "Achievements", achievements_path %></li>
				  	<li<% if current_page? user_path(current_user) %> class="active"<% end %>><%= link_to "Profil", user_path(current_user) %></li>
				  	<li><%= link_to "Logga ut", destroy_user_session_path, method: 'DELETE' %></li>
			    </ul>
			    <ul class="right">
			         <li id="notices-<%= current_user.id%>" class="notices has-dropdown">
			           <a href="#" id="notishref">Notiser <% if @notices.any? %>(<%= @notices.count %>) <% end %></a>
			           <ul class="dropdown">
						 <% @notices = current_user.notices.limit(10) %>
			             <%= render 'users/notices', object: @notices %>
			           </ul>
			         </li>
			       </ul>
			<% else%>
				<ul class="right">
   					<li><%= link_to "Logga in", new_user_session_path %></li>
    				<li><%= link_to "Bli medlem", new_user_registration_path %></li>
				</ul>
			<% end %>
		    <!-- Left Nav Section -->
		    <ul class="left">
				<%= render 'users/search_user'%>
		    </ul>
		  </section>
		</nav>
	</div><br>
    <%= yield %>

  </body>
</html>
